;; shadow-cljs configuration
{:source-paths
 ["src" "test"]

 :dependencies
 [[com.cognitect/transit-cljs "0.8.243"]]

 :builds
 {:app {:target :node-script
        :output-dir "dist"
        :output-to "dist/sherman-server.js"
        :main sherman.server/main
        :modules {:main {:entries [sherman.server]}}}
  :test {:target :node-test
         :output-to "out/node-tests.js"
         :ns-regexp "-test$"}}}
